<div class="header">
  <h1>Filters</h1>
  <button (click)="toggleFilters()" class="toggle-btn">
    <i [ngClass]="{ 'gg-chevron-up': open, 'gg-chevron-down': !open }"></i>
  </button>
</div>

<form [formGroup]="formGroup" *ngIf="open" @collapse (submit)="applyFilters()" id="filters_form">
  <div class="input-grid">
    <fieldset class="input-control">
      <label for="title">Title:</label>
      <input
        class="input"
        type="text"
        id="title"
        name="title"
        placeholder="Search by title..."
        formControlName="title"
      />
    </fieldset>
    <fieldset class="input-control">
      <label for="title">Issue number:</label>
      <input
        class="input"
        type="number"
        id="issueNumber"
        name="issueNumber"
        placeholder="Search by issue number..."
        formControlName="issueNumber"
      />
    </fieldset>
    <fieldset class="input-control">
      <label for="orderBy">Order by:</label>
      <select
        class="input"
        id="orderBy"
        name="issueNumber"
        formControlName="orderBy"
      >
        <option value="">Select an option...</option>
        <option
          *ngFor="let item of ordenators"
          [value]="item?.key"
          [innerText]="item?.label"
        ></option>
      </select>
    </fieldset>
  </div>

  <div class="flex-row align-center pv-1">
    <button type="button" class="btn secondary-btn" (click)="clearFilters()">
      Clear
    </button>
    <button type="submit" class="btn primary-btn" [disabled]="!canSearch" id="submit_btn">
      Search
    </button>
  </div>
</form>
